# TMDB API v3 Key (https://www.themoviedb.org/settings/api)
TMDB_API_KEY=masukkan_api_key_tmdb_v3_di_sini

# URL website setelah di-deploy (misalnya di Vercel)
NEXT_PUBLIC_SITE_URL=https://nobarhub.vercel.app
